@page
@model CRUD_Razor_2_1.Pages.BookList.indexModel
@{
    ViewData["Title"] = "index";
}

<br />
<h2>Book List</h2>
<br />

<a asp-page="Create" class="btn btn-primary">Create New Book</a>

@if (Model.Books.Count() > 0)
{
    <p>Books Avaliable</p>
}
else
{
    <p>No Books available</p>
}